body{
  margin:0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Tangerine', cursive;
  font-size:5.625rem;
  color: #1E6F5C;
}
a:hover{
  color: white;
}
h2{
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  color: #1E6F5C;
  padding-bottom: 10px;
}
h3{
  font-family: 'Merriweather', serif;
  color:#40514E;
}
hr{
  border-style: none;
  border-top-style: dotted;
  margin: 0 auto;
  height: 0;
  width: 4%;
  border-width: 10px;
  border-color: grey ;
}
.top-container{
  background-color:#CAF7E3;
  position:relative;
  padding: 7.5% 0 0 0;
}
.middle-container{
  background-color: white ;
}
.bottom-container{
  background-color:#9AD3BC;
  margin:0;
}
.top-cloud{
  position:absolute;
  top:10%;
  right:17%;
  height:10%;
}
.mountain{
  margin: 4% auto 0 auto;
}
.bottom-cloud{
  position:absolute;
  left:15%;
  height:10%;
  padding-bottom:0;
}
.skill-row{
  width:50%;
  margin: 50px auto;
  padding-bottom: 10px;
  text-align: left;
  line-height:2;
}
.programming{
  width:25%;
  float:left;
  margin-right: 5%;
}
.management{
  width:25%;
  float:right;
  margin-left:5%;
}
.project{
  width:25%;
  float:left;
  margin-right: 5%;
}

.profile{
  width:50%;
  margin: 20px auto;
}
.contact-me{
  width:50%;
  margin: 0 auto;
}
.footer-link{
  margin: 0 auto 0 1%;
  font-family: 'Montserrat', sans-serif;
  color: #1E6F5C;
  text-decoration: none;
  font-style: oblique;
  font-weight: bold;
}
.copyright{
  color: white;
  font-size: 0.75rem;
  margin: 0 auto;
  padding: 10px 0;
}
.btn {
   background: #11cdd4;
   background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
   background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
   background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
   background-image: -o-linear-gradient(top, #11cdd4, #11999e);
   background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   height: 8px;
   line-height: 8px;
   color: #000000;
   font-family: 'Merriweather', serif;
   width: 127px;
   font-size: 17px;
   font-style: oblique;
   font-weight: bold;
   padding: 9px;
   margin:1% auto;
   /*-webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;*/
   border: solid #11cdd4 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #30e3cb 1px;
   background: #2bc4ad;
   background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
